# pandas==2.2.2
# pandas-ta==0.3.14b0
# python-dotenv==1.0.1
# pyTelegramBotAPI==4.18.0
# requests==2.31.0
pandas
pandas-ta
python-dotenv
pyTelegramBotAPI
requests
# pip install pandas
# pip install pandas-ta
# pip install pyTelegramBotAPI
# pip install python-dotenv
# pip install requests